        body{
            background-color: rgb(0, 255, 255);
            min-height: 100vh;/*HELP FROM CHATGPT*/
            background-image:url("ground.png");
            background-repeat:repeat-x;
            background-position: bottom left;/*HELP FROM CHATGPT*/
            background-size: 95px 95px;
        }
#bird {
    position: absolute;
    left: 100px;
    top: 200px;
    width: 120px;
}
